* {
    margin: 0px;
    padding: 0px;
}

.konten {
    background-image: url(assets/kegiatan1.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 900px;
}

.logo img{
    padding: 10px;
    width: 600px;
    max-width: 90%;
    /* background-color: blue; */
}

.atas {
    padding: 15px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.atas ul{
    padding: 15px;
    /* background-color: green; */
    max-width: 100%;
}

.atas li{
    /* background-color: yellow; */
    display: inline;
    padding: 20px;
}

.atas a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.atas li a:hover{
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    transition: 1s;
}

.ikonten {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 300px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.isi {
    width: auto;
    max-width: 100%;
}

.sejarah {
    padding: 20px;
    margin: 0 0 50px;
    width: auto;
}

.sejarah h1 {
    margin: 0 0 20px;
    padding: 20px 0 0 20px;
}

.sejarah img{
    width: 400px;
    height: auto;
    padding: 20px;
    max-width: 100%;
}

.tbl {
    margin-bottom: 100px;
}

.tbl h1{
    padding: 0 0 0 40px;
}

.tabel {
    margin: 20px auto 0 auto;
    width: 70%;
    max-width: 100%;

}

.tr1 {
    height: 40px;
}

.td {
    text-align: justify;
    padding-left: 10px;
}

.tr2 {
    height: 25px;
}

.judul {
    font-weight: bolder;
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
.footer {
    width: auto;
    height: auto;
    background-color: brown;
}

.kontak {
    margin: 10px;
}

.kkiri {
    display: flex;
    padding: 10px;
    margin: 20px;
}

.tkiri {
    display: inline;
    margin: 10px;
}

.tkiri a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
}

.icon img {
    border-radius: 15px;
    padding: 10px;
}

.antara {
    display: flex;
}

.sosmed {
    margin-top: 80px;
    margin: auto;
    text-align: right;
}

.isisos {
    padding: 20px;
    display: flex;
    width: 100px;
    margin-left: 10px;
}

.cr {
    text-align: center;
    color: white;
}